body{
    background-image: linear-gradient(100deg,  #fcd599 15%, #ffe0b0 50%,#fdd18f 80%, #fdd18f 100% );
    margin: auto;
    max-width: 1440px;
}

header{
    position: relative;
    padding: 40px 0 1px 84px;
}

main{
    display: flex;
}

.seccion1{ 
    width: 976px;
}

.texto{
    position: relative;
    padding: 76px 0 0 240px;
}

.texto-area{
    width: 577px;
    height: 621px;
    top: 168px;
    left: 240px;
    font-family: "Inter";
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A3871;
    background: none;
    border: none;
    outline: none;
}

.texto-area::placeholder{
    color: #0A3871;
}

.alerta{
    position: relative;
    padding: 59px 0 0 240px;
    display: flex;
}

.alerta-simbolo{
    width: 16px;
    height: 16px;
}

.alerta-parrafo{
    width: 205px;
    height: 18px;
    opacity: 80%;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
    color: #495057;
    border: none;
    outline: none;
}

.botones{
    display: flex;
    position: relative;
    padding: 16px 0 72px 240px;
}

.btn-encriptar{
    width: 328px;
    height: 67px;
    padding: 24px;  
    gap: 8px;
    border-radius: 24px; 
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin-right: 24px;
    text-align: center;
    background: #0A3871;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-encriptar:hover{
    transform: scale(1.1);
}

.btn-desencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;   
    gap: 8px;
    border-radius: 24px;   
    border: 1px solid #0A3871;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A3871;
    cursor: pointer;
}

.btn-desencriptar:hover{
    transform: scale(1.1);
}

.seccion2{
    position: relative; 
}

.area{
    position: relative;
    top: 40px;
}

.muneco{
    position: absolute;
    height: 304px;
    top: 283px;
    left: calc(1032px - 976px);
}

.primer-mensaje{
    width: 336px;
    height: 58px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #343A40;
    background: none;
    border: none;
    outline: none;
    resize: none;
    position: absolute;
    top: 619px;
    left: calc(1032px - 976px);   
}

.segundo-mensaje{
    width: 336px;
    height: 48px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #495057;
    background: none;
    outline: none;
    resize: none;
    border: none;
    position: absolute;
    top: 693px;
    left: calc(1032px - 976px);
}

.resultado{
    width: 336px;
    height: 781px;
    top: 72px;
    left: 1032px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #565749;
    background: none;
    outline: none;
    resize: none;
    border: none;
    position: absolute;
    top: 72px;
    left: calc(1032px - 976px);
}

.btn-copiar{
    width: 336px;
    height: 67px;
    top: 885px;
    left: 1032px;
    padding: 24px;  
    gap: 8px;
    border-radius: 24px;   
    border: 1px solid #0A3871;   
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A3871;
    background: none;
    position: absolute;
    cursor: pointer;
    top: 885px;
    left: calc(1032px - 976px);
}

.btn-copiar:hover{
    transform: scale(1.1);
}
.footer{
    font-family: "Inter";
    font-size: 13px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color:#0A3871;
}

@media screen and (max-width: 768px) {
    main{
        display: block;
    }
    header, .texto, .texto-area, .alerta, .botones, .seccion1, .seccion2{
        max-width: 100%;
    }
    header, .texto, .alerta, .botones{
        padding-right: 40px;
        padding-left: 40px;
    }
    .texto{
        padding-top: calc(76px + 72px);
    }
    .texto-area{
        height: calc(621px - 87px);
    }
    .botones{
        padding-bottom: 64px;
    }
    .seccion2{
        padding: 0 40px;
        display: flex;
        padding-bottom: 40px;
    }
    .area, .muneco{
        display: none;
    }
    .resultado{
        position: relative;
        width: 100%;
        height: calc(133px - 64px);
        max-height: 180px;
        top: 0;
        left: 0;
        border: 32px solid transparent;
        padding: 0;  
        border-radius: 32px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px #00000014;
    }
    .primer-mensaje{
        width: 100%;
        height: 29px;
        top: 32px;
        left: 0;
        z-index: 1;
    }
    .segundo-mensaje{
        width: 100%;
        height: 24px;
        top: calc(32px + 29px + 16px);
        left: 0;
        z-index: 1;
    }
    .btn-copiar{
        position: absolute;
        width: 81.25%;
        top: auto;
        left: 9.375%;
    }
}

@media screen and (max-width: 500px) {
    header{
        padding: 24px 16px 21px 16px;
    }
    .texto{
        padding: 56px 16px 64px 16px;
    }
    .texto-area{
        height: 232px;
        max-height: 624px;
    }
    .alerta{
        padding: 0 16px;
    }
    .botones{
        padding: 16px;
        display: block;
    }
    .btn-encriptar{
        width: 100%;
        margin: 0 0 24px 0;
    }
    .btn-desencriptar{
        width: 100%;
    }
    .seccion2{
        padding: 48px 24px 40px 24px;
    }
    .resultado{
        height: 122px;
        max-height: 432px;
    }
    .primer-mensaje{
        width: 263px;
        height: 58px;
        top: 80px;
        left: calc((100vw - 263px) / 2);
    }
    .segundo-mensaje{
        width: 263px;
        height: 48px;
        top: 154px;
        left: calc((100vw - 263px) / 2);
    }
    .btn-copiar{
        width: 74.4%;
        left: 12.8%;
    }
}
